@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
h1, h2, h3, h4, .navbar-brand {
    font-family: 'Jeju Gothic';
    color: #1BSE20;
}
body {
    font-family: 'Nanum Gothic';
    background-color: #C8E6C9;
}
.navbar {
    border-bottom: #45A047 3px solid;
}